<html>
<body>
Before: {{ guy }}
<form method="POST" action="/form1">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }} {% if form.name.is_required %}*{% endif %} {% if form.name.errors %}{{ form.name.errors|join(', ') }}{% endif %}<br>
    {{ form.job.label }} {{ form.job(size=20) }} {% if form.job.is_required %}*{% endif %}  {% if form.job.errors %}{{ form.job.errors|join(', ') }}{% endif %}<br>
    <input type="submit" value="Go">
</form>
</body>
</html>
