<html>
<body>
Partial Form - updating 1 field on object<br>
Before: {{ guy }}
<form method="POST" action="/partial">
    {{ form.csrf_token }}
    {{ form.years.label }} {{ form.years() }} {% if form.years.errors %}{{ form.years.errors|join(', ') }}{% endif %}<br>
    <input type="submit" value="Go">
</form>
</body>
</html>
